<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería - BitWorks</title>
  <link rel="stylesheet" href="../css/styles.css">
  <script src="../js/galeria.js"></script>
</head>

<body>
  <header>
  <a href="../index.html">
    <img src="../img/logo.png" alt="Logo" class="logo">
  </a>
    <nav>
      <a href="../index.html">Inicio</a>
      <a href="galeria.html" class="activate">Galería</a>
      <a href="presupuesto.html">Presupuesto</a>
      <a href="contacto.html">Contacto</a>
    </nav>
  </header>
  <main>

    <h1>Galería</h1>
    <h2>Estos son unos de nuestros trabajadores.</h2>
    <div id="galeria">
      <!-- Galería dinámica -->
      <div class="gallery-container">
        <div class="gallery-images">
          <img src="../img/galeria/9a0875da37f42392593749ee3102b5fb.jpg" alt="Imagen 1">
          <img src="../img/galeria/grupo-personas-trabajando-plan-negocios-oficina_1303-15861.jpg" alt="Imagen 2">
          <img src="../img/galeria/premium_photo-1664474834472-6c7d1e3198e2.jpg" alt="Imagen 3">
        </div>
        <button class="arrow left" onclick="moveSlide(-1)">&#8249;</button>
        <button class="arrow right" onclick="moveSlide(1)">&#8250;</button>
      </div>
    </div>
  </main>
   <footer>
      <p>© Copyright 2024 BitWorks · <a href="">Aviso legal</a></p> <br>
      <a href="https://www.instagram.com"><img src="../img/logoinsta.png" alt="logoinsta" class="logoinsta"></a>
      <a href="https://www.youtube.com"><img src="../img/logoyoutube.png" alt="logoyoutube" class="logoyoutube"></a>
  </footer>

</body>
</html>
