body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    background-color: #333;
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    background-color: #575757;
}
main {
    padding: 2rem;
    text-align: center;
}
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    max-width: 900px;
    margin: auto;
}
.logo {
    position: absolute; /* Posiciona el logo de forma absoluta */
    top: 0px; /* Distancia desde el borde superior */
    left: 0px; /* Distancia desde el borde izquierdo */
    width: 70px;
    height: 70px;
}
#map {
    height: 500px;
    width: 100%;
}
.logoinsta{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 15px;
    height: auto;
}
.logoyoutube{
    position: absolute;
    top: 40%;
    left: 13%;
    width: 15px;
    height: auto;
}
.centrado {
    text-align: center;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.image-container img {
    width: 500px; /* Ancho fijo */
    height: 500px; /* Alto fijo */
    object-fit: cover; /* Ajusta la imagen sin distorsión */
    border-radius: 10px; /* Opcional: bordes redondeados */
    border: 2px solid #ccc; /* Opcional: borde */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para estética */
}